@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.btn {
  @apply font-semibold;
}

.custom-background {
  background:
    linear-gradient(90deg, rgb(238, 242, 255) 0%, rgba(254, 252, 232, 0.1) 50%, rgb(250, 250, 250) 100%),
    linear-gradient(0deg, rgb(255, 247, 237) 0%, transparent 100%),
    /* radial-gradient(circle at 75% 0%, rgba(255, 165, 0, 0.3) 40%, rgba(255, 165, 0, 0.15) 60%, transparent 100%);
  background-size: 100% 100%, 100% 100%, 20% 20%;
  background-position: 0 0, 0 0, 70% 0;
  background-repeat: no-repeat; */
}

@keyframes ripple {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }

  20% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  50% {
    transform: scale(1);
    opacity: 0.4;
  }

  80% {
    transform: scale(1.8);
    opacity: 0.2;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0.2);
    opacity: 0.8;
  }

  20% {
    transform: scale(0.5);
    opacity: 0.8;
  }

  50% {
    transform: scale(1);
    opacity: 0.4;
  }

  80% {
    transform: scale(1.8);
    opacity: 0.2;
  }

  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.ripple {
  position: absolute;
  height: 80rem;
  width: 80rem;
  border: 3px solid #fefcbf;
  /* yellow-100 color */
  border-radius: 50%;
  background-color: transparent;
  opacity: 0;
  animation: ripple 10s infinite;
}

.ripple:nth-child(2) {
  animation-delay: 0.8s;
}

.ripple:nth-child(3) {
  animation-delay: 1.6s;
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);

#tree {
  display: inline-block;
  padding: 10px;
}

#tree * {
  box-sizing: border-box;
}

#tree .branch {
  padding: 5px 0 5px 20px;
}

#tree .branch:not(:first-child) {
  margin-left: 170px;
}

#tree .branch:not(:first-child):after {
  content: "";
  width: 20px;
  border-top: 1px solid #ccc;
  position: absolute;
  left: 150px;
  top: 50%;
  margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 42px;
  display: block;
}

.entry:before {
  content: "";
  height: 100%;
  border-left: 1px solid #ccc;
  position: absolute;
  left: -20px;
}

.entry:first-child:after {
  height: 10px;
  border-radius: 10px 0 0 0;
}

.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 1px;
  border-radius: 10px 0 0 0;
}

.entry:after {
  content: "";
  width: 20px;
  transition: border 0.5s;
  border-top: 1px solid #ccc;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: 1px;
}

.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}

.entry:last-child:after {
  height: 10px;
  border-top: none;
  transition: border 0.5s;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}

.entry:only-child:after {
  width: 10px;
  height: 0px;
  margin-top: 1px;
  border-radius: 0px;
}

.entry:only-child:before {
  display: none;
}

.entry span {
  border: 1px solid #ccc;
  display: block;
  min-width: 150px;
  padding: 5px 10px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
}

#tree .entry span:hover,
#tree .entry span:hover+.branch .entry span {
  background: #e6e6e6;
  color: #000;
  border-color: #a6a6a6;
}

#tree .entry span:hover+.branch .entry::after,
#tree .entry span:hover+.branch .entry::before,
#tree .entry span:hover+.branch::before,
#tree .entry span:hover+.branch .branch::before {
  border-color: #a6a6a6;
}

/*
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */